extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- The project title
        h1 #{theProject.project_name}

        //- The project description
        p.lead.text-light
          | #{theProject.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- List of technologies used in the project
        ul
          each technology in theProject.technologies
            li #{technology}
          

        //- Links to demos and code for the project
        a.button.expanded(href=`${theProject.live_link}`) Live Demo
        a.button.expanded(href=`${theProject.github_link}`) GitHub Repo

        //- Screen captures of the project
        //- each image in theProject.image_urls
        - for (var i = 1; i < theProject.image_urls.length; i++)
          img.image(src=`../${theProject.image_urls[i]}` style='width:1200px; height:550px;')
        
    
    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential employers will like to see. 
    //- img.image(src='https://placehold.it/1200x550')
    //- img.image(src='https://placehold.it/1200x550')
    //- img.image(src='https://placehold.it/1200x550')

        