//- Displays images of the project and links to live demos and code

extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- The project title
        h1 #{theProject.project_name}

        //- The project description
        p.lead.text-light
          | #{theProject.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- List of technologies used in the project
        ul
          each technology in theProject.technologies
            li #{technology}
          

        //- Links to demos and code for the project
        a.button.expanded(href=`${theProject.live_link}`) Live Demo
        a.button.expanded(href=`${theProject.github_link}`) GitHub Repo

        //- Screen captures of the project
      - for (var i = 1; i < theProject.image_urls.length; i++)
        img.image(src=`../${theProject.image_urls[i]}`)
        

        